@model IEnumerable<Moring0630ASPCore.Models.Building>

@{
    ViewData["Title"] = "Index";
    var message = (TempData["message"]??"").ToString();
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (string.IsNullOrEmpty(message) == false)
{
    <div class="alert alert-success">
        @message
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    <a asp-action="Details" asp-controller="Buildings" asp-route-id="@item.Id">Details</a> |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
                </td>
            </tr>
        }
    </tbody>
</table>
